* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: lightgrey;
  }

header{
        text-align: center;
        background: #13293d;
        color: #fff;
        font-size: 32px;
    
}
nav{
    background:paleturquoise;
    
}

nav ul{
    display:flex;
    justify-content:space-evenly; 
}   

h3{
    display:flex;
    padding: 1%;
    
}


main{
   border: 10px;
    font-size: 18px;
    font-family:sans-serif;
}

.grad-pic{
    width: 200px;
    height: 200px;
    border-radius:20%;
    float:right;
}